p {
    font-family: 'Courier New', monospace;
    font-size: 50px;
    text-align: center;
}
h1 {
    background-color: #c2b0b0;
}
nav {
    background-color: #c4b6b6;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
  }
  
  nav li {
    padding: 10px 20px;
  }
  
  nav li:hover {
    background-color: #555;
  }
  