nav {
  background-color: rgb(169, 109, 25);
  width: 500px;
  height: 75px;
  font-size: xx-large;
  text-align: center;
  margin: 0 auto;
  
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 10px; /* Optional: Add some space between the items */
}

.contact-info {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  background-color: aqua;
  width: 500px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info p:first-child {
  font-weight: bold;
}
