nav ul {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  display: flex;
}
body {

    text-align: center;
}
nav li {
  margin-bottom: 10px;
  list-style: none;
  padding-left: 90px;
  
}
nav a {
  display: block;
  text-decoration: none;
  color: black;
}

h1 {
  font-family: Arial, sans-serif;
  color: #e20303;
}

img {
  border: 1px solid #db1111;
}

#contact-info {
background-color: #f5f5f5;
border-radius: 5px;

margin-left: -5%;
list-style: none;
text-align: center;
margin: 0 auto;
  width: 500px;
}
 